[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arturix
[access "refs/for/refs/*"]
	read = group user/arturix
	push = group user/arturix
	label-Code-Review = -2..+2 group user/arturix
	label-Verified = -1..+1 group user/arturix
	rebase = group user/arturix
	removeReviewer = group user/arturix
	submit = group user/arturix
[access "refs/heads/*"]
	read = group user/arturix
	create = group user/arturix
	push = +force group user/arturix
	pushMerge = group user/arturix
[access "refs/tags/*"]
	push = +force group user/arturix
	pushTag = group user/arturix
	pushSignedTag = group user/arturix
